<nav class="h-16 md:h-32 flex items-center justify-between">
    <div class="flex-initial items-center collapse md:visible">
        <a href="/">
            <img src="assets/images/blue-fire-icon-logo.png" width="200" />
        </a>
    </div>
    <div class="flex flex-wrap items-center justify-center justify-items-center text-slate-50 font-extrabold space-x-8">
        <a href="/projects">Projects</a>
        <a href="/games">Games</a>
        <a href="/support">Support</a>
        <a href="https://github.com/bluefireteam">GitHub</a>
        <a href="https://discord.gg/pxrBmy4">Discord</a>
    </div>
</nav>